.crypto-desktop-navbar-container {
  width           : 100%;
  height          : auto;
  background-color: $main-color;
  display         : flex;
  flex-flow       : row wrap;
  justify-content : space-between;
  border-color    : none;
  color           : white;
  align-items     : center;
  padding         : 10px 20px 10px 20px;

  .crypto-desktop-navbar-left {

    .crypto-desktop-navbar-icon {
      height      : 40px;
      width       : 40px;
    }

  }

  

  .crypto-desktop-navbar-middle {
  }

  .crypto-desktop-navbar-right {
    color         : white;
  }
}

@media (max-width: $tablet) {
  .crypto-desktop-navbar-container {
    display: none;
  }
}