// Global variables
@import './color/colors.style.scss';
@import './fonts/fonts.style.scss';
@import './breakpoints/constanst.style.scss';

// Files
@import '../components/coins-data-display/crypto-display.style.scss';
@import '../components/coins-data-display/coinlist/crypto-coinlist.style.scss';
@import '../components/coins-data-display/coinlist/coinlistitem/coinlist-item.style.scss';
@import '../components/specific-coinpage/coinpage/coinpage.style.scss';
@import '../components/navbar/desktop/desktop-navbar.style.scss';
@import '../components/navbar/desktop/desktop-mainpage-infobar/desktop-mainpage-infobar.style.scss';
@import '../components/specific-coinpage/coinpage/coin-details/coin-details.style.scss';
@import '../components/navbar/desktop/desktop-mainpage-infobar/desktop-mainpage-coincard/desktop-mainpage-coincard.scss';


*,
*::after,
*::before {
  box-sizing    : border-box;
  padding       : 0;
  margin        : 0;
  font-family   : $main-font;
  text-rendering: geometricPrecision;
}

.light {
  background: lighten($color: $main-color, $amount: 20)
}

html {  
  /* hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* hide scrollbar for chrome, safari and opera */
html::-webkit-scrollbar {
  display: none;
}